<!DOCTYPE html>
<html ng-app='fyfApp'>
<head>
	<title>Festival Finder</title>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>
	<script type="text/javascript" src=scripts.js></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Exo|Shadows+Into+Light" rel="stylesheet">
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
	<link rel="stylesheet" href="styles.css">
	<link rel="stylesheet" href="style-intro.css">

</head>
<body ng-controller="fyfCtrl">
	<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="intro.html">Revelry</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li class="active"><a href="index.html">Home <span class="sr-only">(current)</span></a></li>
	        <li><a href="aboutus.html">About Us</a></li>
	        <li><a href="#">Contact Us</a></li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	        
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
	<div class="container-fluid">
		<div class="row">
			<div class="jumbotron">
			</div>
		</div>
		<div class="row">
			<div class="main">
				<div class="col-md-8 main-output">
					
						<div class="map">
							<div id="map"></div>
						</div>

					<div>
						<div id="list">
							<div class="row listImg" ng-repeat="fest in festArr track by $index">
							<div class="col-md-8" ng-class="{highlight: fest.highlight}">
								<h4>{{fest.name}}
								<small>{{fest.venue.name}}</small></h4>
								<h5>Dates: {{fest.start}} - {{fest.end}}</h5>
								<h5>{{fest.desc}}</h5>
								<h5>Price: {{fest.prices[0].min}} - {{fest.prices[0].max}} {{fest.prices[0].currency}}</h5>
							</div>
								<div class="col-md-3">
									<img class="img-responsive" src="{{fest.images[0].url}}">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 offset-md-1 main-input">
					<div class="search-panel">
						<div class="form-group col-md-8 col-md-offset-2">
							<button class="form-control btn btn-default" type="submit" ng-click="search()">Find My Festival!</button>
						</div>
						<div class="col-md-12 search-by-date search-box">
							<form>
								<h5>Search by Date</h5>
								<div class="form-group">
									<label for="date-from">From</label><input type="date" class="form-control col-md-10" id="date-from" ng-model="startDate">
								</div>
								<div class="form-group">
									<label for="date-to">To</label><input type="date" class="form-control col-md-10" id="date-to" ng-model="endDate">
								</div>
								<div class="checkbox">
   									<label><input type="checkbox"> Weekends Only</label>
								</div>
							</form>
						</div>
						<div class="col-md-12 search-by-location search-box">
							<form class="form">
								<h5>Search by Location</h5>
								<div class="form-group">
									<label for="loc-city">City</label><input type="text" class="form-control col-md-10" id="loc-city" placeholder="Atlanta" ng-model="locCity">
								</div>
								<div class="form-group">
									<label for="loc-state">State</label><input type="text" class="form-control col-md-10" id="loc-state" placeholder="GA" ng-model="locState">
								</div>
								<div class="form-group">
									<label for="loc-zip">Zip Code</label><input type="text" class="form-control col-md-10" id="loc-zip" placeholder="30326" ng-model="locZip">
								</div>
								<div class="form-group">
									<label for="radius">Radius</label><input type="text" class="form-control col-md-10" id="radius" placeholder="Default: 500 (mi)" ng-model="radius">
								</div>
							</form>
						</div>
						<div class="col-md-12 search-by-genres search-box">
							<h5>Search by Genre</h5>
							<select multiple class="form-control" ng-model="genre">
								<option class="genreOption" value="all">All</option>
								<option class="genreOption" value="alternative">Alternative</option>
								<option class="genreOption" value="blues">Blues</option>
								<option class="genreOption" value="classical">Classical</option>
								<option class="genreOption" value="country">Country</option>
								<option class="genreOption" value="dance-electronic">Dance/Electronic</option>
								<option class="genreOption" value="folk">Folk</option>
								<option class="genreOption" value="hiphop-rap">Hip-Hop/Rap</option>
								<option class="genreOption" value="holiday">Holiday</option>
								<option class="genreOption" value="jazz">Jazz</option>
								<option class="genreOption"value="metal">Metal</option>
								<option class="genreOption" value="newage">New Age</option>
								<option class="genreOption" value="pop">Pop</option>
								<option class="genreOption" value="rnb">R&B</option>
								<option class="genreOption" value="reggae">Reggae</option>
								<option class="genreOption" value="rock">Rock</option>
								<option class="genreOption" value="world">World</option>
								<option class="genreOption" value="other">Other</option>
							</select>
						</div>
						<div class="col-md-12 search-by-artist search-box">
							<form>
								<div class="form-group">
									<h5>Search by Artist</h5>
									<div class="input-group">
										<input type="text" class="form-control" placeholder="artist name" ng-model="artist">
										<div class="input-group-addon" ng-click="addArtist()"><span>Add</span></div>
									</div>	
								</div>
							</form>
						</div>
						<div class="col-md-12 search-by-festival search-box">
							<form>
								<div class="form-group">
									<h5>Search by Festival</h5>
									<div class="input-group">
										<input type="text" class="form-control" placeholder="festival name" ng-model="festival">
										<div class="input-group-addon" ng-click="addFestival()"><span>Add</span></div>
									</div>	
								</div>
							</form>
						</div>
					</div>

					<nav class="navbar navbar-default navbar-fixed-bottom navbar-inverse footer">
			<div class="container-fluid">

				<a href="https://www.facebook.com/"><img src="images/facebook_icon.png" class="hvr-grow" alt="Facebook Logo"></a>
				<a href="https://plus.google.com/"><img src="images/google_plus_icon.png" class="hvr-grow" alt="Google Plus Logo">
				<a href="https://www.linkedin.com/"><img src="images/Linkedin_icon.png" class="hvr-grow" alt="Linkedin Logo"></a>
				<a href="https://www.pinterest.com/"><img src="images/Pinterest_icon.png" class="hvr-grow" alt="Pinterest Logo"></a>
				<a href="https://twitter.com/"><img src="images/Twitter_icon.png" class="hvr-grow" alt="Twitter Logo"></a>
				<a href="https://www.youtube.com/"><img src="images/You_Tube_icon.png" class="hvr-grow" alt="You Tube Logo"></a>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="aboutus.html">About Us</a></li>
		        	<li><a href="contactus.html">Contact Us</a></li>
				</ul>
			</div>
		</nav>
				</div>
			</div>
		</div>

<script>
	if( !window.jQuery ) document.write('<script src="jquery-2.2.1-min.js"><\/script>');
</script>
<script src="main.js"></script> <!-- Resource jQuery -->

</body>
</html>