.header {
	width: 90%;
	height: 110px;
	margin: auto;

}
.header h2 {
	font-size: 50px;
	text-align:  center;
	margin-top: 70px;
}

#enter-fest-name input{
	text-align: center;
	width:  100%;
	height: 35px;
	margin-bottom: 20px;
}
#enter-artist-name input {
	text-align: center;
	width:  100%;
	height: 35px;
	margin-bottom: 20px;

}
.main-input {
	border: 1px solid black;
}
.main-input button {
	width:  100%;
	color: black;
	color:  wh;

}
.input-text {
	height: 40px;
}
.searchBar {
	width:  100%;
	border-bottom: 1px solid black;
}
.searchBar button {
	margin-bottom: 35px;
	color: black;
}
.search-by-month {
	font-family: 'Cabin', sans-serif;
	display: inline-block;
	padding: 10px 15px;
	width:  100%;
	margin-top: 20px;
	border-bottom: 1px solid black;

}

.search-by-genre {
	font-family: 'Cabin', sans-serif;
	display: inline-block;
	padding: 0px 15px;
	width:  100%;
	margin-top: 20px;
	
}
.search-by-genre ul {
	margin-bottom: 20px;
}
label {
	padding-left: 10px;
}

.main {
	width: 90%;
	margin: auto;
}

#map {
	height: 400px;
	width: 100%
}


thead{
	font-size: 20px
}

tbody, thead{
	margin: 50px;
}

th, td{
	padding: 30px;
}

table{
	margin: auto;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
li {
	list-style-type: none;
}


.footer img{
	margin: 10px 5px;
}

