.header {
	width: 90%;
	height: 110px;
	margin: auto;
}

.main {
	width: 90%;
	margin: auto;
}

.main-input {
	/* position: fixed; */
}
#map {
	height: 400px;
	width: 100%
}

.search-box {
	margin: 8px 0px;
}

date-from::-webkit-calendar-picker-indicator {
    display: none;
}