.header {
	width: 90%;
	height: 110px;
	margin: auto;

}
.header h2 {
	font-size: 50px;
	text-align:  center;
}
.searchBar {
	margin-left: 20%;
}

.main {
	width: 90%;
	margin: auto;
}

#map {
	height: 400px;
	width: 100%
}